/**************************************************************                                 TABLE OF CONTENTS
-------------------------------------------------------
1. Project deatils & color and typography guidelines
2. Global style (tags, basic styling)
3. Header and Nav
4. Main Body Content
5. Generic selectors (shared page class styles)
6. Footer content
***************************************************************/

/*****************************
******************************                 
1. Project deatils & color and typography guidelines

                    PROJECT DEDAILS
Member: Alex, Alexandra, Ayano, Chris, Nikol
Project: Roadside America
Ver: 1.1
Last Update:
Notes:
--------------------------------------------------------------
                    COLOR GUIDE
pale blue (background): #c5d6e2
gray (footer background): #b5b4b4
gray (text): #808080
off white: #f7f6ed
red (text shodow ): #f7081f
orange: #f7931e
purple (text): #8a79cc
--------------------------------------------------------------
                    TYPOGRAPHY GUIDE
Body - Montserrat
h1 (Find Unique Attraction~) - PT Sans Caption 


*******************************
********************************/


/*****************************
******************************                        
2. Global style (tagsm basic styling)
-------------------------------------------------------

*******************************
********************************/


/******************************
********************************                              
3. Header and Nav
-------------------------------------------------------

********************************
*******************************/


/*******************************
*******************************                             
4. Main Body Content
-------------------------------------------------------

******************************
*********************************/


/******************************
********************************                         
5. Generic selectors (shared page class styles)
-------------------------------------------------------------

*******************************
********************************/


/*******************************
*******************************                              
6. Footer content
-------------------------------------------------------

********************************
*******************************/
