/* 
 **************************************************************                                 TABLE OF CONTENTS */
/* ------------------------------------------------------- */
/* 1. Project deatils & color and typography guidelines
2. Global style (tags, basic styling)
3. Header and Nav
4. Main Body Content
5. Generic selectors (shared page class styles)
6. Footer content */
/* ***************************************************************  */
/* header styles */
.c-header {
    display: flex;
    position: relative;
    z-index: 100;
    width: 100%;
    }
    
    .c-header > * {
    padding: 10px;
    }
    .c-header img {
    margin: 0 auto;
    }
    .c-header-nav {
    position: absolute;
    top:100%;
    width: 100%;
    display: none;
    background: #F7F6ED;
    }
    
    
    .c-header-nav li {
    padding: 1rem;
    }
    
    .c-header-nav li a {
    display: block;
    }
    .c-header-nav li a:hover {
    color: purple;
    }
    
    .nt:checked ~ nav {display: block;}
    .nt {
    display: none;
    }
    #menuClose {display: none;}
    .nt:checked ~ .ntMenu #menuClose {
    display: block;
    }
    .nt:checked ~ .ntMenu #menuClose {
    display: block;
    }
    .nt:checked ~ .ntMenu .menuOpen {
    display: none;
    }
    input[type="search"] {
    display: none;
    
    } 

/* footer styles */
.c-manage-footer nav, .c-manage-footer p{
display: flex;
justify-content: center;
margin: 20px auto;
}
.c-manage-footer nav ul {
display: flex;
gap: 20px;
}
/*****************************
******************************                 
1. Project deatils & color and typography guidelines

                    PROJECT DEDAILS
Member: Alex, Alexandra, Ayano, Chris, Nikol
Project: Roadside America
Ver: 1.1
Last Update:
Notes:
--------------------------------------------------------------
                    COLOR GUIDE
pale blue (background): #c5d6e2
gray (footer background): #b5b4b4
gray (text): #808080
off white: #f7f6ed
red (text shodow ): #f7081f
orange: #f7931e
purple (text): #8a79cc
--------------------------------------------------------------
                    TYPOGRAPHY GUIDE
Body - Montserrat
h1 (Find Unique Attraction~) - PT Sans Caption 


*******************************
********************************/


/*****************************
******************************                        
2. Global style (tagsm basic styling)
-------------------------------------------------------

*******************************
********************************/


/******************************
********************************                              
3. Header and Nav
-------------------------------------------------------

********************************
*******************************/


/*******************************
*******************************                             
4. Main Body Content
-------------------------------------------------------

******************************
*********************************/


/******************************
********************************                         
5. Generic selectors (shared page class styles)
-------------------------------------------------------------

*******************************
********************************/


/*******************************
*******************************                              
6. Footer content
-------------------------------------------------------

********************************
*******************************/
